#lights {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  background: #000 !important;
}

#lights canvas {
  width: 100%;
  height: 100%;
  background: #000 !important;
  opacity: 0;
  animation: fadeInCanvas 0.5s ease-out 0.1s forwards;
}

@keyframes fadeInCanvas {
  to { opacity: 1; }
}
